__pycache__/
*.pyc
**/*.env
**/*.log
logs/
*.egg-info/
dist/
.venv/
node_modules/
frontend/src/api/generated/
frontend/.idea
.claude
CLAUDE.md
pnpm-lock.yaml
backend/app/private_uploads
frontend/src/infra/shared/types/permissions.gen.ts
agents/logs
.npmrc
AppData/
backend/private_uploads/
private_uploads/